@font-face {
  font-family: fredonka;
  src: url(../fonts/FredokaOne-Regular.ttf);
}

body {
  background-image: linear-gradient(#93a5cf, #e4efe9);
  min-height: 100vh;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 300px;
  font-family: fredonka;
  color: rgb(164, 5, 37);
}

label {
  padding: 10px;
}

button {
  margin-left: 125px;
}
